.skills{
    display: flex;    
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.skills .certificates{
    /* width: 40%; */
}

.skills .certificates img{
    width: 500px;
}

.skills .technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.circular-chart {
    display: block;
    margin: 30px;
    max-height: 100px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .skills .flutter, .circle1{
    stroke: #0468d7;
    background-image: url('./assets/flutter.png');
  }.skills .flask, .circle2{
    stroke: #fff;
    background-image: url('./assets/flask.png');
  }.skills .pandas, .circle3{
    stroke: #130654 ;
    background-image: url('./assets/pandas.svg');
  }.skills .react, .circle4{
    stroke: #61dafb;
    background-image: url('./assets/react.png');
  }.skills .sql, .circle5{
    stroke: #f29221;
    background-image: url('./assets/mysql.png');
  }.skills .wordpress, .circle6{
    stroke: #0073aa;
    background-image: url('./assets/wordpress.png');
  }
  
  
  .circle {
    fill: none;
    stroke-width: 1.3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    
    
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  @media (min-width: 540px) {
  
  }
  @media (min-width: 720px) {
    .skills{
      flex-wrap: initial;
    }
  }
  @media (min-width: 960px) {
   
  }
  @media (min-width: 1140px) {
    
  }
  
  @media (min-width: 1320px) {
    
  }